{% macro displaySourceList(source_list) %}

    {% for source in source_list %}
        <div class="container">
            <li>
                <a href="/news/{{source.url}}">{{ source.name| truncate(20) }}</a>
                <p>{{ source.description }}</p>
            </li>
        </div>
    {% endfor %}

{% endmacro %}

{% macro displayArticleList(article_list) %}

    {% for article in articles_list %}
        <div class="container news-card">
            <img src="{{article.urlToImage}}" alt="{{article.title}} news-image" class="img-responsive">
            <li class="text-center">
                <h2>{{ article.title }}</h2>
                <i>{{ particle.publishedAt }}</i>
                <p>{{ article.description }}</p>
                <a href="/news/{{article.url}}">Read article</a>
            </li>
        </div>
    {% endfor %}

{% endmacro %}